.navbar {
  margin: 26px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    margin-left: 24px;
    padding: 10px 0;
    position: relative;
  }

  .nav-active {
    &::after {
      content: "";
      width: 90%;
      height: 2px;
      background: $color-1;
      position: absolute;
      bottom: 1px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
